RewriteEngine On

# Force HTTPS and Non-WWW
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.ajfencemfg\.com [NC]
RewriteRule ^(.*)$ https://ajfencemfg.com/$1 [L,R=301]

# Redirect to trailing slash if not a file and doesn't have a trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)\.(.*)$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteRule ^(.*)$ https://ajfencemfg.com/%{REQUEST_URI}/ [L,R=301]

# Handle Next.js internal routing (look for index.html in subfolders)
# This ensures that /about-us/ correctly serves /about-us/index.html
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ $1/index.html [L]

# Custom 404 page
ErrorDocument 404 /404.html
